{% extends 'sales/testHtml.html' %}
{% block content %}
        {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert"  style="width: 200px" align="center" ></div>
        <script>
          alert("{{ message }}!");
        </script>
    {% endfor %}
{% endif %}
<form  method="post">
{% csrf_token %}
<input type="search" name="customer_name" title="fpe" placeholder="ادخل اسم الزبون" aria-label=" بحث " required>
<button type="submit" value="بحث">بحث</button>
</form>
    <br>
    <br>
    {% if orders %}

  {% for order in orders %}
    <div class="container" >
              <table   id="mytable" class="container table-striped" align="center" border="2">
                   <thead class="thcolor" align="center">
                            <th   style="text-align: center">ملاحظات</th>
                            <th   style="text-align: center">حالة الطلبية</th>

                     <th    style="text-align: center">طريقة التسليم</th>
                                            <th    style="text-align: center">صلاحية السعر</th>
                              <th    style="text-align: center">طريقة التسديد</th>
                              <th    style="text-align: center">عملة الدفع</th>
                              <th    style="text-align: center">السعر الكلي</th>
                       <th  style="text-align: center">تاريخ التسليم</th>
                        <th  style="text-align: center">تاريخ البدء</th>
                                    <th  style="text-align: center">تاريخ تقديم الطلب</th>
                        <th  style="text-align: center">اسم المنتج</th>
                              <th  style="text-align: center">اسم الزبون</th>
                   <th  style="text-align: center">الرقم</th>
                   <th  style="text-align: center"></th>
                   </thead>
    <tbody>
      <td  align="center">{{ order.notes }}</td>
     <td  align="center">{{ order.order_status }} </td>
           <td  align="center">{{ order.delivery_way }}</td>
 <td  align="center">{{ order.payment_time_tolerance }}</td>

            <td  align="center">{{ order.payment_way }}</td>
            <td  align="center">{{ order.payment_currency }}</td>
            <td  align="center">{{ order.total_price }}</td>
    <td  align="center">{{ order.delivery_time | date:"SHORT_DATE_FORMAT"}}</td>
    <td  align="center">{{ order.start_time | date:"SHORT_DATE_FORMAT"}}</td>
      <td  align="center">{{ order.order_date| date:"SHORT_DATE_FORMAT" }}</td>
    <td  align="center">{{ order.product_name }}</td>
    <td  align="center">{{ order.customer_name }}</td>
    <td  align="center">{{ order.id }}</td>
      <td  align="center"><a href="{% url 'orders_in_sales_page_two' order.pk%}"><button class="btn-danger">تفاصيل</button></a></td>
    </tbody>
              </table>
                 </div>

<br>
        <hr style="text-align: center">
{% endfor %}


    {% endif %}
{% endblock %}