{% extends 'Production_manager/testBase.html' %}
{% block content %}
    <h1 align="center" ><font color="#cd5c5c">خطط الطلبيات الغير منتهية  </font> </h1>
    </br>

        {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert"  style="width: 200px" align="center" >{{ message }}</div>
        <script>
          alert("{{ message }}!");
        </script>
    {% endfor %}
{% endif %}
     <div class="col-lg-12 table-responsive fontsize" >
              <table  id="mytable" class="table table-striped" border="2">
         <thead class="thcolor">
                          <th  style="text-align: center">تعديل</th>
                          <th  style="text-align: center">ملاحظات</th>
                          <th  style="text-align: center">حالة الطلبية</th>
                           <th  style="text-align: center">تاريخ نهاية الطلبية</th>
                            <th style="text-align: center">تاريخ بداية الطلبية</th>
                           <th  style="text-align: center">تاريخ النهاية للقص</th>
                            <th style="text-align: center">تاريخ البداية للقص</th>
                           <th  style="text-align: center">تاريخ النهاية للطباعة</th>
                            <th style="text-align: center">تاريخ البداية للطباعة</th>
                           <th  style="text-align: center">تاريخ النهاية للطلي</th>
                            <th style="text-align: center">تاريخ البداية للطلي</th>
                            <th  style="text-align: center">تاريخ النهاية للنسيج</th>
                            <th style="text-align: center">تاريخ البداية للنسيج</th>
                            <th  style="text-align: center">رقم الطلبية</th>
                             <th  style="text-align: center">الكود</th>
                   </thead>
    <tbody>
{% for laste in schds %}
    <tr>
    <form method="post" action="{% url 'update_order_state' laste.pk %}" >
        {% csrf_token %}
       <td style="text-align: center" ><button type="submit" class="btn-danger" name="updatee">تعديل الحالة</button> </td>
        <td style="text-align: center" >{{ laste.notes}}</td>
       <td style="text-align: center" ><select name="selectionn">
             <option value="{{ laste.state }}" selected="selected">{{ laste.state }}</option>
           <option value="متوقف">متوقف</option>
           <option value="جاري التصنيع">جاري التصنيع</option>
            <option value="جاري التصنيع">انتهى</option>
       </select></td>
        </form>
           <td style="text-align: center" >{{ laste.order_end_date  | date:"SHORT_DATE_FORMAT"}}</td>
          <td style="text-align: center">{{ laste.order_start_date  | date:"SHORT_DATE_FORMAT"}}</td>
          <td style="text-align: center">{{ laste.end_cutting_date  | date:"SHORT_DATE_FORMAT"}}</td>
          <td style="text-align: center">{{ laste.start_cutting_date  | date:"SHORT_DATE_FORMAT"}}</td>
          <td  style="text-align: center">{{ laste.end_printing_date  | date:"SHORT_DATE_FORMAT" }}</td>
           <td style="text-align: center" >{{ laste.star_printing_date  | date:"SHORT_DATE_FORMAT"}}</td>
           <td style="text-align: center" >{{ laste.end_coating_date  | date:"SHORT_DATE_FORMAT"}}</td>
          <td style="text-align: center">{{ laste.start_coating_date  | date:"SHORT_DATE_FORMAT"}}</td>
          <td style="text-align: center">{{ laste.end_loom_date  | date:"SHORT_DATE_FORMAT"}}</td>
          <td style="text-align: center">{{ laste.start_loom_date  | date:"SHORT_DATE_FORMAT"}}</td>
          <td  style="text-align: center">{{ laste.order_id }}</td>
        <td  style="text-align: center">{{ laste.sch_id }}</td>
    </tr>
{% endfor %}
    </tbody>
              </table>
                    </div>
{% endblock %}