{% extends 'Production_manager/testBase.html' %}
{% block content %}
   <h1 align="center" ><font color="#cd5c5c">حالة خطط التصنيع </font> </h1>
    </br>


     <div align="center">
              <table  id="mytable" class="container table-striped" border="2">
         <thead class="thcolor">
                            <th width="5%" style="text-align: center">تاريخ التسليم</th>
                            <th width="5%" style="text-align: center">تاريخ البداية</th>
                            <th width="5%" style="text-align: center">العدد المطلوب</th>
                            <th width="5%" style="text-align: center">الاكياس المنتجة</th>
                           <th width="5%" style="text-align: center">الامتار المطبوعة</th>
                            <th width="7%"style="text-align: center">الامتار المطلية</th>
                            <th width="5%" style="text-align: center">العدد المطلوب</th>
                            <th width="10%"style="text-align: center">الامتار المنسوجة</th>
                            <th width="7%" style="text-align: center">البند</th>
                             <th width="4%" style="text-align: center">الطلبية</th>
                   </thead>
    <tbody>
    {% for plan in plans %}
   {% for item in plan.getOrder.getItems %}
    <tr>
           <td style="text-align: center" >{{ plan.order_end_date}}</td>
           <td style="text-align: center" >{{ plan.order_start_date}}</td>
          <td style="text-align: center">{{ item.quantity}}</td>
           <td style="text-align: center" >{{ item.getCuttingInternalOrder}}</td>
           <td style="text-align: center" >{{ item.getPrintingInternalOrder}}</td>
          <td style="text-align: center">{{ item.getCoatingInternalOrder}}</td>
          <td style="text-align: center"></td>
          <td style="text-align: center"></td>
          <td  style="text-align: center">{{ item.item_id}}</td>
          <td width="5%"style="text-align: center">{{ plan.order_id}}</td>
    </tr>
{% endfor %}
    </tbody>
              </table>
                    </div>
{% endfor %}
{% endblock %}