{% extends 'Owner/base.html' %}
<script>
{% block jquery %}
var endpoint = '/api/chart/data/printing/'
var defaultData = []
var labels = [];
var items_stain=[];
var items_solvent=[];
var items_breach=[];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels_Meters
        defaultData = data.items_Meters
        items_stain = data.items_stain
        items_solvent = data.items_solvent
        items_breach=data.items_breach
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
function setChart(){
    var stain = document.getElementById("stain");
    var meters = document.getElementById("meters");
    var solvent = document.getElementById("solvent");
    var breach = document.getElementById("breach");
    var myChart = new Chart(meters, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
    var myChart2 = new Chart(stain, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            data: items_stain,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
        var myChart3 = new Chart(solvent, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            data: items_solvent,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
 var myChart4 = new Chart(breach, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            data: items_breach,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}
// var ctx = document.getElementById("myChart");
{% endblock %}
</script>
{% block content %}
<div class='row'>
        <div class='col-sm-6'>
            <h1 align="center">كمية الحبر المستهلكة تبعا للورديات</h1>
            <canvas id="stain" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <h1 align="center">انتاج قسم الطباعة تبعا للورديات</h1>
            <canvas id="meters" width="400" height="400"></canvas>
        </div>
</div>
    <div class='row'>
        <div class='col-sm-6'>
            <h1 align="center">كمية المذيب المستهلكة تبعا للورديات</h1>
            <canvas id="solvent" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <h1 align="center">عدد تقارير المخالفات</h1>
            <canvas id="breach" width="400" height="400"></canvas>
        </div>
</div>
{% endblock content %}
