{% extends 'coating/testBase.html' %}
{% block content %}
        <h1 align="center" ><font color="#cd5c5c">اضافة معلومات الطلي للرول</font> </h1>
</br>
        {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert"  style="width: 200px" align="center" >{{ message }}</div>
        <script>
          alert("{{ message }}!");
        </script>
    {% endfor %}
{% endif %}
</br>
    </br>
    <div class="container" align="center">
              <table  id="mytable" class="table table-bordred table-striped" border="2">
         <thead class="thcolor">
                            <th  style="text-align: center">ملاحظات الجودة</th>
                             <th  style="text-align: center">موافقة الجودة</th>
                             <th  style="text-align: center">تاريخ الانتاج</th>
                             <th  style="text-align: center">طول الرول</th>
                            <th  style="text-align: center">وزن القماش غ/م2</th>
                            <th  style="text-align: center">عرض القماش</th>
                            <th  style="text-align: center">رقم الطلبية</th>
                             <th  style="text-align: center">رقم الرول</th>
                   </thead>
    <tbody>
    <tr>
          <td style="text-align: center">{{roll_w.quality_notes}}</td>
          <td  style="text-align: center">{{ roll_w.quality_agreement}}</td>
          <td style="text-align: center">{{roll_w.weaving_date}}</td>
          <td  style="text-align: center">{{ roll_w.roll_long}}</td>
          <td style="text-align: center">{{roll_w.getItemInfo.item_weight}}</td>
          <td  style="text-align: center">{{roll_w.getItemInfo.item_width }}</td>
          <td  style="text-align: center">{{ roll.order_id}}</td>
          <td width="5%"style="text-align: center" id="theroll">{{ roll.roll_id}}</td>
    </tr>
    </tbody>
              </table>
                    </div>
   <div class="container" align="center">
              <table  id="mytable" class="table table-bordred table-striped" border="2">
         <thead class="thcolor">
                             <th  style="text-align: center">ملاحظات الجودة</th>
                             <th  style="text-align: center">موافقة الجودة</th>
                             <th  style="text-align: center">تاريخ الانتاج</th>
                             <th  style="text-align: center">رقم الوردية الحالي</th>
                            <th  style="text-align: center">اسم المشغل</th>
                            <th  style="text-align: center">طول الجوب</th>
                             <th  style="text-align: center">السماكة</th>
                             <th  style="text-align: center">رقم الرول</th>
                         <td style="text-align: center"> </td>
                   </thead>
    <tbody>
        <tr>
          <td style="text-align: center">{{roll_c.quality_notes}}</td>
          <td  style="text-align: center">{{ roll_c.quality_agreement}}</td>
          <td style="text-align: center">{{roll_c.coating_date}}</td>
          <td style="text-align: center">{{roll_c.shift_id}}</td>
          <td  style="text-align: center">{{ roll_c.worker_id }}</td>
          <td style="text-align: center">{{roll_c.waste_long}}</td>
          <td style="text-align: center">{{roll_c.thikness}}</td>
          <td width="5%"style="text-align: center">{{ roll_c.roll_id}}</td>
          <td width="5%"style="text-align: center"> </td>
    </tr>
<tr>
    <div class="SaveState" style="color:red; font-weight:bold;"></div>
  <form id="ourform" method="post" action="{% url 'roll_coating_view'  %} ">
    {% csrf_token %}
                  <td style="text-align: center">تحدد لاحقا</td>
          <td  style="text-align: center">تحدد لاحقا</td>
          <td style="text-align: center">الان</td>
          <td style="text-align: center">الحالية</td>
          <td  style="text-align: center"><input id="worker_id" type="text" name="worker_id" style="width: 100px;" required></td>
          <td style="text-align: center"><input id="waste_long" type="number" name="waste_long" style="width: 100px;" required></td>
          <td  style="text-align: center"><input id="thikness" type="number" name="thikness" style="width: 100px;" required></td>
          <td width="5%"style="text-align: center"><input id="roll_id" type="text" name="roll_id" style="width: 100px;" value="{{ roll.roll_id }}" readonly></td>
          <td width="5%"style="text-align: center"><input type="submit" name="add_roll_weaving_info" class="btn btn-primary" value="اضافة"> </td>
 </form>
</tr>
    </tbody>
              </table>
                    </div>
{% endblock %}